.achievement-header {
    text-align: center;
    margin-bottom: 40px;
}

.achievement-header h1 {
    font-weight: 700;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.achievement-grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.achievement-card {
    background: #fff;
    padding: 30px 20px;
    border: 1px solid rgb(232, 224, 224);
    text-align: center;
    transition: transform 0.3s ease;
    border-left: none;
    border-top: none;
}

.achievement-card:hover {
    transform: translateY(-10px);
}

.achievement-card img {
    width: 14vh;
    margin-bottom: 15px;
    object-fit: contain;
}

.achievement-card p {
    font-size: 1.3rem;
    font-weight: 600;
    color: #222;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.our-projects-outer-section {
    padding: 40px 0;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}

.section-title-container {
    text-align: justify;
    margin-bottom: 1rem;

}

.section-title {
    font-weight: 700;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
}


@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}


/* Section Title */
.section-title-container {
    text-align: center;
    margin-bottom: 2rem;
    text-align: justify;
}

/* Grid for Cards */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

/* Card Styling */
.project-card {
    background-color: #fff;
    padding: 2rem;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.project-card-icon-wrapper {
    font-size: 2.5rem;
    color: #0D2E61;
    margin-bottom: 1rem;
}

.project-card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #0D2E61;
}

@media(max-width:900px) {
    .achievement-grid {
        display: flex;
        flex-direction: column;
    }

    .achievement-header h1 {
        font-size: 26px;
        margin-left: 2vh;
    }

    .projects-grid {
        display: flex;
        flex-direction: column;
    }
}